<div class="page-header">
  <h1><%= @course.topic %></h1>
</div>

<p><strong><%= Course.human_attribute_name(:topic) %>:</strong>
  <%= @course.topic %></p>
<p><strong><%= Course.human_attribute_name(:units) %>:</strong>
  <%= @course.units %></p>
<p><strong><%= Course.human_attribute_name(:sessions) %>:</strong>
  <%= sessions_summery @course %></p>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              courses_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_course_path(@course), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              course_path(@course),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
